@charset "UTF-8";


    /*  
    Laranja: #F7985D
    Azul:    #466DA3
    Verde:   #73D350
    */

    * {
        margin: 0px;
        padding: 0px;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    body {
        background-color: rgb(255, 255, 255);
    }

    header {
        width: 100%;
        margin: auto;
        background-color: #b2d4e4b0;
    }

     h1 {
        text-align: center;
        font-size: 3em;
    }

    header > nav > a {
        display: inline-block;
        color: white;
        background-color: #5e6875;
        border-radius: 5px;
        font-size: 1.5em;
        text-decoration: none;
    }

    a:hover {
        background-color: rgb(219, 31, 31);
        color: black;
        transition: .5s;
    }  

    h2, h3, h4 {
        margin: 15px;
    }

    main {
        margin: auto;
        line-height: 30px;
        background-color: rgb(203, 231, 235);
        padding: 20px;
        text-indent: 20px;
    }

    h2 {
        font-size: 2em;
        text-indent: 30px;
    }

    footer {
        background-color: black;
        color: white;
    }