@charset "UTF-8";


    /*  CORES: 
    Laranja: #F7985D  //  Azul:    #466DA3 //  Verde:   #73D350    
    */


        /*  CSS GERAL  */

    * {
        margin: 0px;
        padding: 0px;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    body {
        background-color: rgb(255, 255, 255);
    }

    header {
        width: 100%;
        margin: auto;
        background-color: #b2d4e4b0;
    }

    h1 {
        text-align: center;
        font-size: 3em;
    }

    i#burguer {
        background-color: #5e6875;
        color: white;
        text-align: center;
        display: block;
        cursor: pointer;
        padding: 10px;
    }

    i#burguer:hover {
        background-color: white;
        color: black;
    }

    header > nav > a {
        display: inline-block;
        color: white;
        background-color: #5e6875;
        border-radius: 5px;
        font-size: 1.5em;
        text-decoration: none;
    }

    a:hover {
        background-color: rgb(219, 31, 31);
        color: black;
        transition: .5s;
    }  

    h2, h3, h4 {
        margin: 15px;
        font-size: 2em;
        text-indent: 30px;
        text-align: left;
    }

    main {
        margin: auto;
        line-height: 30px;
        background-color: rgb(203, 231, 235);
        padding: 20px;
        text-indent: 20px;
    }

    ul {
            list-style-position: inside;
        }

    footer {
        background-color: black;
        color: white;
    }


    /*  Home  */

    #map {
        margin-top: 10px;
        width: 100%;
    }

    @media screen and (max-width: 400px) {
        h1, h2 {
            font-size: 2em;
        }

        header > nav > a {
            border: 2px solid black;
            border-radius: none;
            display: block;
            font-size: 1.5em;
            width: 100vw;
            text-align: center;
        }


    }


    /*  Verden  */

    #lua {
        width: 30vw;
    }

    #section-verden {
        border: 2px solid black;
    }

     #calendario {
        border: 2px solid black;
        display: flex;
        flex-flow: row no wrap;
        justify-content: space-between;
    }

    @media screen and (max-width: 400px) {
        * {
            padding:
        }

        #calendario {
            background-color: lightcoral;
        }

        main {
            margin: auto;
            line-height: 30px;
            background-color: rgb(203, 231, 235);
            padding: 5px;
            text-indent: 20px;
        }

        h2 {
            text-indent: 0px;
            font-size: 1em;
        }

        #calendario > ul {
            font-size: .8em;
            text-indent: 5px;
            line-height: 20px;
            border: 5px;
        }

        li::marker {
            content: "•";
            margin-right: 0px;
        }

        
    }


    /*  r-homens  */


    #p-r-homens {
        margin-bottom: 20px;
    }
    

    @media screen and (max-width: 400px) {

    #p-r-homens {
        margin-bottom: 0px;
    }

    }

    



    /*  r-anao  */

    #conteiner {
        display: flex;
        width: 40vw;
        flex-flow:  wrap;
        justify-content: flex-start;
        margin-top: 10px;
    }

    #p-r-anao {
        padding: 10px;
    }


    @media screen and (max-width: 400px) {
        #cabrabel > img {
            width: 75vw;
            height: 50vh;
        }

        #cabra > img {
            width: 75vw;
            height: 50vh;
        }

        #dubhain > img {
            width: 80vw;
            height: 50vh;
        }

        #conteiner {
            width: 90vw;
        }

    }


    /*  r-elfos  */

    #p-r-elfos {
        margin-bottom: 10px;
    }

    @media screen and (max-width: 400px) {
    #p-r-elfos {
        margin-bottom: 0px;
    }
    }




    /*  dawratalhaya  */

    #tribos {
        list-style-position: inside;
    }

   